.primary {
    color: #ffa500;
}

.font-xl {
    font-size: 72px;
}
.background{
    background-color: aquamarine;
}

button{
    border: var('.primary');
    padding: 10px 10px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
    background-color: #ffa500;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}
